<title>{{ title|default( 'Home' ) }} / Clean Blog eZ Publish Theme</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="author" content="Thapnath Web Agency"/>
<meta name="copyright" content="Thapnath Web Agency"/>
<meta name="description" content="{{ description|default( 'Clean Blog eZ Publish Theme' ) }}"/>
<meta name="keywords" content="{{ keywords|default( 'Clean Blog eZ Publish Theme, ez publish websites, ez publish themes' ) }}"/>
<meta name="MSSmartTagsPreventParsing" content="TRUE"/>
<meta name="generator" content="eZ Publish"/>

<link rel="Home" href="/" title="front page"/>
<link rel="Index" href="/"/>
<link rel="Top" href="/" title="{{ title|default( 'Home' ) }}"/>
<link rel="Search" href="/content/advancedsearch" title="Search "/>
<link rel="Shortcut icon" href="/design/standard/images/favicon.ico" type="image/x-icon"/>
<link rel="Copyright" href="/ezinfo/copyright"/>
<link rel="Author" href="/ezinfo/about"/>
<link rel="Alternate" type="application/rss+xml" title="RSS" href="/rss"/>