<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for contentId, content in top_content %}
                <div class="post-preview">
                    <a href="{{ path( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId} ) }}">
                        <h2 class="post-title">
                            {{ ez_render_field( content, 'title' ) }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ ez_render_field( content, 'short_desc' ) }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Thapnath</a> {{ ez_render_field( content, 'publication_date' ) }}</p>
                </div>
                <hr>
            {% endfor %}
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="/Blog">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>