{% extends "ThapnathCleanBlogBundle::pagelayout.html.twig" %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            {% if pagerBlog|length() > 0 %}
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% for post in pagerBlog %}
                        {# Displaying blog_post elements calling the view line #}
                        {{ render_esi( controller( 'ez_content:viewLocation', {'locationId': post.contentInfo.mainLocationId, 'viewType': 'line'} ) ) }}
                    {% endfor %}
                    <hr>
                    {# Pagination is displayed only if needed (number of posts > limit) #}
                    {% if pagerBlog.haveToPaginate() %}                    
                        {{ pagerfanta( pagerBlog, 'twitter_bootstrap_translated', {'routeName': location} ) }}                    
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>    
{% endblock %}
